{% extends 'base.html.twig' %}

{% block title %}Conditions générales de ventes{% endblock %}

{% block body %}

<section class="section-mentions-legales">

    <h2>Conditions générales de ventes</h2><br><br>


    <h2>1 - Introduction</h2><br>

    <p>Les présentes conditions générales régissent la location des gîtes proposés par le gîte du Rain du Pair situé au 224 Rain du Pair, 68370 Orbey.<br>

    Elles ont pour objet de définir les droits et obligations des parties dans le cadre de la location d’hébergements locations ou de séjours proposés au Gîte du Rain du Pair au client, à partir du site internet www.giteraindupair.fr mais aussi par téléphone, ou par courrier.</p><br>

    <h2>2 - Réservation et Confirmation :</h2><br>

        <p>Les réservations peuvent être effectuées en ligne via notre site web ou par téléphone.<br>
        La réservation est confirmée une fois que le paiement requis est reçu.<br>
        Les tarifs sont indiqués sur notre site web et peuvent être modifiés sans préavis.<br>
        Le paiement peut être effectué par carte de crédit ou via votre compte paypal.<br>
        Le montant total du séjour est à payer au moment de la réservation.</p><br>

    <h2>3 - Annulation :    </h2><br>

    <p>Les conditions d'annulation sont spécifiées au moment de la réservation.<br>
    Des frais d'annulation peuvent s'appliquer en fonction du délai d'annulation.</p><br>

    <h2>4 - Responsabilités du Client :</h2><br>

        <p>Les gîtes doivent être utilisés à des fins résidentielles uniquement.<br>
        Il est interdit d'organiser des événements ou des fêtes sans autorisation préalable.<br>
        Heure d'arrivée: dès 17h00.<br>
        Heure de départ: 11h00.<br>
        Livret d'accueil: Pour bien préparer votre séjour et répondre à toutes vos questions pratiques, nous avons mis en place un livret d’accueil.</p><br>

    <h2>5 -  Utilisation des Lieux : </h2><br>

        <p>Les clients sont responsables des dommages causés au gîte pendant leur séjour.<br>
    Le non-respect des règles de la propriété peut entraîner des frais supplémentaires.</p><br>


    <h2>6 -  Droit Applicable et Juridiction :</h2><br>

        <p>Les présentes conditions générales sont régies par la loi en vigueur dans votre juridiction.<br>
        Tout litige sera soumis à la juridiction compétente.</p><br>


</section>

  
    {% endblock %}