{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialités{% endblock %}

{% block body %}

<section class="section-mentions-legales">

    <h2>Politique de confidentialités</h2><br><br>


    <p>Quand vous laissez un commentaire sur notre site, les données inscrites dans le formulaire de commentaire, mais aussi votre adresse IP et l’agent utilisateur de votre navigateur sont collectés pour nous aider à la détection des commentaires indésirables.

        Une chaîne anonymisée créée à partir de votre adresse e-mail (également appelée hash) peut être envoyée au service Gravatar pour vérifier si vous utilisez ce dernier. Les clauses de confidentialité du service Gravatar sont disponibles ici : https://automattic.com/privacy/.
        
        Après validation de votre commentaire, votre photo de profil sera visible publiquement à côté de votre commentaire.</p><br>



        </section>

  
    {% endblock %}