* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: normal;
}

/* Déclaration des variables */

:root {

    /* Couleur */
    --color1: #504f4b;
    --color2: #a9b4a4;
    --color3: #b58869;
    --color4: #fcf7f1;
    --color5: rgb(217, 186, 166);
    --color6: #85634d;

    --green: #22773d;
    --red: #712424;

    /* Police des titres */
    --title: 'Corinthia';
    --police2: system-ui, sans-serif;
   

    /* Taille de police */
    --size1: 1rem;
    --size2: 1.5rem;

    /* Largeur de police */
    --thin: 100;
    --light: 300 ;
    --regular: 400;
    --medium: 500;
    --bold: 700;
    --black: 900;

    /* Bordure */
    --borderRadius1: 20px;

    /* Ombre */
    --boxShadow1: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    --boxShadow2: rgba(50, 50, 93, 0.15) 0px 10px 18px -5px, rgba(0, 0, 0, 0.3) 0px 5px 10px -8px;
}


/* ********************************************** GÉNÉRAL ********************************************** */

.burger {
    display: none;
}

.pageaccueil {
    margin-top: 0 !important;
}

.container {
    position: relative;
    margin-top: -180px;
}

 .title {
   position: relative;
   display: inline-block;
   z-index: 1000;
}

/* Titres page d'accueil */
.pageaccueil .title {
    z-index: 0;
}
/* Ligne sous le titre */
.title::after {
    content: "";
    position: absolute;
    width: 150px; 
    height: 1px; 
    background-color: var(--color1); 
    bottom: -3px; 
}

.resatitle::after {
    content: "";
    position: absolute;
    width: 150px; 
    height: 1px; 
    background-color: var(--color); 
    bottom: -3px; 
}

h1, h2 {
    color: var(--color1);
    text-transform: uppercase;
    letter-spacing: 3px
}

h2 {
    font-size: 27px;
}
 
.center {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

h3 {
    color: var(--color1);
    letter-spacing: 2px;
    margin: 20px 40px;
    font-size: 18px;
}

p {
    color: var(--color1);
}

.pBold {
    font-size: 18px;
}

.btn {
    height: 50px;
    width: 150px;
    background:linear-gradient(to bottom, var(--color6), var(--color3));
    font-weight: var(--medium); 
    color: var(--color4);
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: var(--boxShadow2);
    transition-duration: 0.3s;
}

.btn a {
    color: white;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.submit {
    margin-top: 10px;
}

.add {
    background-color: var(--color1);
}

.link-add {
    color: #fcf7f1;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

.fa-circle-arrow-right {
    color: var(--color3);
}

.fa-circle-arrow-right:hover {
    opacity: 0.8;
}

label {
    color: var(--color1);
}

.edit i, .delete i {
    height: 30px;
    width: 30px;
}

.edit, .delete {
    text-align: center;
}

/* Bouton scroll haut de page */

.btn-scroll-to-top {
    border: 1px var(--color1) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 3%;
    bottom: 6%;
    padding: 2px;
    cursor: pointer;
    z-index: 2000;
    transition: 0.2s ease;
}

.btn-scroll-to-top i {
    height: 40px;
    width: 40px;
    color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-scroll-to-top:hover i {
    color: white;
}

.btn-scroll-to-top:hover {    
    background-color: var(--color1);
}

/* ********************************************** NAVBAR PAGE D'ACCUEIL ********************************************** */

header {
    position: relative;
    min-height: 100vh;
}

.videoHome {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    z-index: 1;
    object-fit: cover;
}

.videoContent::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 1) 100%); 
    z-index: 2; 
}

#first-section {
    position: absolute;
    top: -380px;
    right: 50%;
    /* z-index: 10; */
    text-transform: lowercase;
    transform: translate(50%, 0%); 
    z-index: 100;
    text-align: center;
}

h1 strong {
    font-family: 'Corinthia' !important;
    font-size: 80px !important;
   
}
#first-section h1 strong, #first-section h2 {
    font-family: var(--police2);
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: initial; 
    color: var(--color3) !important;
}

#first-section h1 strong {
    padding: 10px 0px;
}
#first-section h2 {
    font-size: 30px;
}

.first-section-person {
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 5px;
    font-family: var(--police2);
    color: var(--color3) !important;
    padding: 10px 0px;
    font-style: italic;

}

/* ********************************************** NAVBAR PAGE D'ACCUEIL ********************************************** */


.navbar {
    position: fixed;
    z-index: 1000;
    padding: 0 100px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)), url("../img/fond-banner.webp");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.navLogo {
    height: 75px;
}

.nav-items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    text-transform: uppercase;  
}

.nav-item a {
    color: var(--color1);
    text-decoration: none;
    font-size: 17px;
    position: relative;
    display: block;
    cursor: pointer;
}

.nav-item a:hover {
    opacity: 0.8;
}

.nav-item a:before, .nav-item a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
}

.nav-item a:before {
    left: 0;
}

.nav-item a:after {
    right: 0;
    background: var(--color1);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    opacity: 0.8;
}

.nav-item a:hover:before {
    background: var(--color1);
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    opacity: 0.8;
  }
  
  .nav-item a:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }


/* ********************************************** NAVBAR PAGE INTERNE ********************************************** */


#header-interne {
    min-height: auto;

}

.base {
    margin: 0;
    background-image: url("../img/fond-banner.webp");
    background-size: cover;
    background-position: center; 
    background-repeat: repeat;
    height: 300px;  
    position: relative;
}


/* ********************************************** COMPTE À REBOURS ********************************************** */

#countdown {
    font-size: 22px;
    color: var(--color1);
    font-weight: 500;
    margin: 30px;
    z-index: 1000;
    position: relative;
}


/* ********************************************** RECHERCHE RESERVATION ********************************************** */

.averageRating {
    right: 120px;
    top: -12px;
    position: absolute;
    width: 110px;
    height: 110px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--borderRadius1);
    background: linear-gradient(to bottom, var(--color6), var(--color3));
}

.averageRating p {
    color: white;
    text-align: center;
}

#rating-average .jq-ry-group svg {
    fill: white;
}

.averageRating-p {
    font-size: 20px !important;
}

#search {
    background: rgba(255, 255, 255, 0.33);
    border-radius: 50% 50% 0px 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    width: 1100px;
    height: 360px;
    position: absolute;
    top: -600px;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 10;
    font-size: 20px;
    padding: 215px 0px 0px 0px;
}

#reservationForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title-search {
    text-transform: uppercase;
    display: block;
    font-size: 30px;
    font-family: var(--police2);
    font-weight: 300;
    letter-spacing: 5px;
    color: var(--color4);
    padding: 30px 0px 0px 50px; 
}

.start-containt, .end-containt, .person-containt, .submit-containt {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: flex-start;
    font-size: 20px;
}

#openNumberPerson {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}


.adult, .kid {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.action {
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputPerson {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;  
    line-height: 25px;
    padding: 0;
    border: 1px solid #ccc;

}

.numberPerson, .numberAdult, .numberKid, .start, .end, .labelPerson {
    margin: 0 10px;
}

.kid > .action, .adult > .action {
    margin-left: 13px;
}
.person {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#totalPerson {
    display: inline;
}
.labelPerson {
    display: inline;
}

.decrement, .increment {
    margin: 0;
}


/* ********************************************** CALENDRIER ********************************************** */


 .selectedStartDate {
    background-color: green; /* Couleur de fond grise pour indiquer la sélection */
    color: #333; /* Couleur du texte pour la date sélectionnée */
}

.fc-bg-event {
    background-color: var(--color2) !important;
}


.fc-toolbar-title {
    font-size: 1.5em !important;
}

#calendar {
    color: var(--color1) !important;
}
.fc-button-primary {
    background-color: var(--color1) !important;
}
.fc .fc-button .fc-icon {
    background-color: var(--color1) !important;
}

.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active {
    display: none !important;
 
}
.fc-today-button.fc-button.fc-button-primary {
    display: none !important;
}
.fc-button-group {
    margin-right: 15px;
  
}


/* Styles pour le sélecteur de plage */
.flatpickr-range {
    /* Styles généraux pour le sélecteur de plage */
  }
  
  /* Styles pour la plage sélectionnée */
  .flatpickr-range .flatpickr-day.selected,
  .flatpickr-range .flatpickr-day.startRange,
  .flatpickr-range .flatpickr-day.endRange {
    background: var(--color5); /* Couleur de fond pour la plage sélectionnée */
    color: var(--color1); /* Couleur du texte pour la plage sélectionnée */
    border: 1px solid var(--color6);
    border-color: var(--color6);
  }
  .flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
    background: var(--color5); /* Couleur de fond pour la plage sélectionnée */
    color: var(var(--color1)); /* Couleur du texte pour la plage sélectionnée */
    border: 1px solid var(--color6);
    border-color: var(--color6);

  }
   
  .flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
    -webkit-box-shadow: -10px 0 0 var(--color5);
     box-shadow: -10px 0 0 var(--color5);
  }
  /* Styles pour les jours survolés dans la plage */
  .flatpickr-range .flatpickr-day.inRange:hover {
    background-color: var(--color5); /* Couleur de survol pour la plage sélectionnée */
  }
  
  .flatpickr-day.inRange{
    background-color: var(--color5);
    border-color: var(--color5);
    box-shadow: -5px 0 0 var(--color5), 5px 0 0 var(--color5);
  }
  /* Styles pour les jours de début et de fin de plage */
  .flatpickr-range .flatpickr-day.startRange,
  .flatpickr-range .flatpickr-day.endRange {
    /* Styles spécifiques pour les jours de début et de fin de plage */
  }
  

/* ********************************************** CONNECTION / INSCRIPTION ********************************************** */

.login-page .registerForm {
    margin-top: 130px;
}

.registerForm {
    background-color: var(--color4);
    width: 50%;
    margin: 50px auto 100px auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: var(--boxShadow1);
}

.inputRegister {
    margin: 20px;
}

.inputRegisterTerms {
    width: 30px !important;
    margin: 20px;
}

.btn-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.btn-register .p-link {
    font-size: 22px;
}

.register {
    margin: 30px;
}

.p-link > a {
    color: var(--color3);
}

.registerForm a {
    color: var(--color3);
}


/* ********************************************** SECTION GÎTE ********************************************** */


em {
    font-style: normal;
}

.color {
    color: var(--color3);
    font-weight: 600;
}

.pageaccueil .gite-title {
    left: 250px;
    position: absolute;
    top: 100px;
}

.gite-content {
    position: relative;
    width: 100%;
    overflow: hidden; 
    padding: 100px 100px 100px 250px;
    display: flex;
    align-items: center;
}

.background-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background-image: url("../img/fond.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    opacity: 0.4;
}

.description-and-picture {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.gite-description {
    width: 33%;
    margin: 10px 0;
    font-size: 20px;
    text-align: justify;
}

.giteFigure {
    z-index: 10;
}

.picture01 {
    width: 450px;
    height: auto;
    border-radius: 80px 180px 80px 180px;
    box-shadow: var(--boxShadow1);
    margin-left: 220px;
}

.feuille01 {
    opacity: 0.5;
    transform: rotate(-45deg);
    width: 80px;
    position: absolute;
    top: 500px;
    left: 100px;
}

.banner {
    background-image: url("../img/fond-banner.webp");
    background-size: cover;
    background-position: center; 
    background-repeat: repeat;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-strong {
    font-weight: 200 !important;
    font-family: var(--police2);
}

.icons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner-icon i  {
    color: var(--color3);
    font-size: 100px;
    opacity: 0.3;
}

.banner-p {
    color: var(--color1);
    font-size: 27px;
    font-family: var(--police2);
    font-weight: 200; 
    letter-spacing: 5px;
    position: absolute;
    white-space: nowrap;
    text-transform: uppercase;
}

.banner2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.banner2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(201, 201, 201, 0.514), rgba(255, 255, 255, 0.849)), url('../img/banniere.jpg');

        /* Effet parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner2-p {
    z-index: 5; 
    color: var(--color1);
    font-size: 25px;
    font-family: var(--police2);
    letter-spacing: 5px;
    white-space: nowrap;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    line-height: 50px;
}

.caracteristique-title {
    margin: 100px 350px 0px 350px;
}

.caracteristique {
    display: flex;
    align-items: flex-start;
    margin: 20px 350px 100px 350px; 
}

.caracteristique-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 50px;
    width: 50%;
}

.caracteristique-title > h2 {
    text-align: left;
    line-height: 50px;
    letter-spacing: 6px;
}

.caracteristique-left > p {
    /* text-align: left;  */
    margin: 30px 0;
    font-size: 20px;
    text-align: justify;
}

.caracteristique-galery {
    display: flex;
    justify-content: center;
}

.caracteristique-right {
    width: 50%;
    margin-left: 50px;
}

.picture {
    overflow: hidden;
    aspect-ratio: 1;
    width: 180px;
    margin: 10px;
}

.picture img, .picture-02 img {
    transition: transform 0.3s ease-in-out;
}

.picture:hover img, .picture-02:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

.picture-02 {
     overflow: hidden;
}

.picture02 {
    width: 100%; 
    height: 100%;
}

.picture03,
.picture05,
.picture04 {
    aspect-ratio: 1;
    width: 180px;
} 


.feuille02 {
    opacity: 0.5;
    transform: rotate(45deg) translateY(-100px);
    width: 80px;
    position: absolute;
    right: 150px;
}

/* Styles pour la fenêtre modale */

.modal {
    display: none;
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%; 
    max-height: 80%; 
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    cursor: pointer;
}

.modal-next, .modal-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    background: var(--color3) url(/img/chevron-next.png) center center no-repeat;
    background-size: 20px 20px;
    border-radius: 50%;
    transform: translateY(-50%);
    top: 50%;
    right: 50px;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}

.modal-prev {
    right: auto;
    left: 50px;
    background-image: url(/img/chevron-prev.png);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

 .banner2 > .banner2-p,  .banner2  strong {
    font-weight: 300 !important;
 }


/* ********************************************** SECTION GALERIE ********************************************** */


#galerie {
    padding: 100px 250px;
}

.categories {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.categories div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.categoryFigure {
    width: 250px;
    height: 250px; 
    overflow: hidden; 
    /* box-shadow: var(--boxShadow1); */
    position: relative;
}

.categoryImg {
    width: 250px;
    height: 250px;
    transition-duration: 300ms; 
    object-fit: cover; 
    position: relative;    
}

.category-1:hover .categoryImg,
.category-2:hover .categoryImg,
.category-3:hover .categoryImg,
.category-4:hover .categoryImg {
    filter: grayscale(90%);
    transform: scale(1.1);
}

.titleGalerie {
    color: var(--color1);
    font-size: 25px;
    font-family: var(--police2);
    font-weight: 200;
    letter-spacing: 5px;
    white-space: nowrap;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}

.hover-link {
    text-decoration: none;
    cursor: pointer;
}

.voirPlus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-size: 15px;
    color: white;
    background-color: var(--color3);
    border-radius: 10px;
    padding: 7px;
    text-transform: uppercase;
    transition: opacity 0.3s ease;
}

.categoryFigure:hover .voirPlus {
    opacity: 1;
} 

/* ********************************************** PAGE GALERIE ********************************************** */

.breadcrumb {
    margin: 100px 0px 0px 30px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    margin: 0px 300px 50px 300px;
}

.gallery-item {
    flex: 1 0 calc(33.33% - 30px); 
    max-width: calc(33.33% - 30px);
    box-sizing: border-box;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height:100%;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.gallery-item:hover img {
    transform: scale(1.1);
    opacity: 0.7;
    cursor: pointer;
}

/* ********************************************** SECTION AUX ALENTOURS ********************************************** */

#alentours {
    padding: 150px 50px;
}

.alentours-title {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.alentours-title h2 {
    font-size: 35px;
    letter-spacing: 8px;
}

.alentours-title::after {
    /* display: none;  */
    left: 50%;
    transform: translateX(-50%);
}

.alentours-containt {
    display: flex;
    align-items: center;
}

#map-activity {
    height: 500px;
    width: 40%;
    z-index: 5;
}

 #map-carousel {
    width: 60% !important;   
    margin: 0 30px;
} 

 #map-carousel .carousel__item {
    width: auto !important;
} 

.custom-popup-activity img {
    width: 100%;
}

.leaflet-popup {
    width: 150px !important;
    height: 150px !important;
}

.giteModal {
    bottom: -114px !important;
    left: -61px !important;
}

.activity-picture {
    width: 110% !important;
    height: 110% !important;
    transition: 300ms ease-in-out;
}

.activity-picture img {
    width: 110%;
    height: 110%;
    object-fit: cover;
}

.activityCard {
    position: relative; 
    height: 300px !important;
    width: 300px; 
    border-radius: 0px !important;
    margin: 10px 10px !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    padding: 0 !important;
    cursor: pointer;
    box-shadow: none !important;
}

.activityCard:after {
    position: absolute;
    content: "";
    width: 110%;
    height: 110%;
    left: 0;
    top: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.1) 40%, rgba(255, 255, 255, 0) 100%);
    transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 5;
}

.activity-content {
    position: absolute;
    top: 200px;    
    z-index: 100;
    transform: translateY(0);
    transition: 700ms cubic-bezier(0.19, 1, 0.22, 1);
    text-align: center;
    padding: 10px;
}

.activity-content p {
    color: var(--color4);
    margin: 0px;
    font-size: 17px;
}

.activity-description {
    transition: 0.3ms ease;
}

.activity-name {
    font-size: 25px;
    font-family: var(--police2);
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    padding: 40px 10px;
}

.activityCard:hover:after {
    background-color: rgba(0, 0, 0, 0.6);
}
.activityCard:hover .activity-picture {
    transform: translateY(-4%);
}

.activityCard:hover .activity-content {
    transform: translateY(-80%);
    /* transition: transform 300ms, opacity 300ms; */
}

.leaflet-popup-content p {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-family: var(--police2);
    color: var(--color1);
}



/* ********************************************** SECTION ACTUALITÉS ********************************************** */


#actualites {
    padding: 100px 250px;
    background-image: url("../img/fond-banner.webp");
    background-size: cover;
    background-position: center; 
    background-repeat: repeat;
}

.actualites-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.section-btn-actu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.section-btn-actu h3 {
    font-family: 'Corinthia';
    font-size: 45px;
    letter-spacing: normal;
    margin-bottom: 40px;
}

.section-btn-actu i {
    color: var(--color3);
    font-size: 35px;
    transition: 300ms;
}

.section-btn-actu i:hover {
    opacity: 0.8;
    transform: scale(1.2);
}

.instagram_post {
    margin: 10px;
    /* overflow: hidden; */
    box-shadow: var(--boxShadow1);
}

a.ViewProfileButton, a.FollowButton {
    background-color: var(--color3) !important;
}
.HeaderCta a {
    background-color: var(--color3) !important;

}
.ViewProfileButton {
    background-color: var(--color3) !important;
}

a.ViewProfileButton, a.FollowButton
.btn-actu {
    padding-top: 50px;
}



/* ********************************************** SECTION AVIS ********************************************** */

#review {
    padding: 70px 250px;
}

.hr-alentours {
    color: var(--color2);
    width: 100%;
    height: 2px;
}
#carousel {
    margin: 0 50px;
}

.items {
    position: relative;
}

.item {
    margin: 40px 20px;
    background-color: var(--color4);
    transition: transform 0.3s;
    transform: translate3d(0, -1px, 0);
    border-radius: 20px;
    padding: 30px;
    height: 400px;
    overflow: hidden;
    position: relative;
    transition: height 0.3s ease-in-out;
    box-shadow: var(--boxShadow2);
}

.reviewComment,
.reviewCommentAdmin {
    height: 150px;
    overflow: hidden;
}
.carousel {
    position: relative;
    overflow: hidden;
}

.carousel__container {
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
}

.carousel__item {
    float: left;
}

.carousel__container::after {
    content: '';
    clear: both;
    display: table;
}

.carousel__next, .carousel__prev {
    position: absolute;
    width: 40px;
    height: 40px;
    background: var(--color3) url('/img/chevron-next.png') center center no-repeat;
    background-size: 20px 20px;
    border-radius: 50%;
    transform: translateY(-50%);
    top: 50%;
    right: 0px;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}

.carousel__next:hover, .carousel__prev:hover {
    background-color: var(--color6);
}

.carousel__prev {
    right: auto;
    left: 0px;
    background-image: url('/img/chevron-prev.png');
}

.carousel__next--hidden, .carousel__prev--hidden {
    opacity: 0;
    cursor: none;
}








.allReviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 100px 250px;

}

.commentAllReviews {
    height: auto;
    margin: 15px 0;
}

.itemAllReviews {
    height: auto;
    
}

.sectionCenter {
    display: flex;
    justify-content: center;
}
.pagination {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.pagination a {
    text-decoration: none;
    color: var(--color3);
    padding: 6px;
    transition: 0.3s;
}

.pagination a.active, .pagination a:hover {
    color: var(--color1);
    cursor: pointer;
}

.btnReviews {
    width: 200px;
}

/* ********************************************** DÉTAILS RÉSERVATION ********************************************** */

.head-resa {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-resa > .breadcrumb {
    margin: 0px 0px 0px 30px;
}

.confirmReservation {
   margin-left: 300px;

}

.confirmReservation p {
    font-family: var(--police2);
    font-size: 20px;
    padding: 2px;
}

.reservation-title {
    font-family: var(--police2);
    color: var(--color3);
    margin: 10px 0;
    font-size: 25px;
    font-weight: var(--regular);
    text-transform: uppercase;
}

.italic {
    font-style: italic;
    font-size: 20px;
    opacity: 0.8;
}

.confirm {
    height: 400px;
    width: 450px;
    border-radius: 30px;
    background-image: url("../img/fond-banner.webp");
    background-size: cover;
    background-position: center; 
    background-repeat: repeat;
    box-shadow: var(--boxShadow2);
    position: fixed;
    right: 50px;
    z-index: 1100;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.confirmLine {
    width: 50%;
    margin: auto;
}

.total-p {
    display: inline-block;
    padding: 5px;
    font-size: 30px;
}

.total-supp {
    font-size: 15px !important;
    font-style: italic;
}

.total-p .medium {
    font-weight: var(--medium);
    padding: 5px;
    font-size: 30px;
    margin-left: 5px;
}

.btnReservation {
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: auto;
    font-size: 25px;
}

.btnReservation a {
    color: var(--color4);
}

button > a {
    text-decoration: none;
}

.update a {
    color: var(--color3);
}

.gite-title .center > h2 {
    font-family: var(--police2);
    color: var(--color3);
    margin: 10px 0;
    font-size: 25px;
    font-weight: var(--regular);
    text-transform: uppercase;
}

.description01 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 0 500px 0 300px;
}

.descriptionLeft {
    margin-left: 100px;
}

.descriptionIcon {
    font-size: 18px;
    letter-spacing: 1.3px;
}

.descriptionRight {
    background-color: var(--color4);
    border-radius: 20px;
    box-shadow: var(--boxShadow2);
    width: 350px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.titleDescription {
    text-transform: uppercase;
    text-align: center;
}

.description02 {
    margin: 0 400px 0 250px;
}

.info {
    display: inline-block;
    margin: 0;
    text-align: center;
    font-size: 17px;
}

.paraCenter {
    margin: 20px;
}

.titleH5 {
    text-align: center;
    margin: 100px;
    font-size: 25px;
    color: var(--color2);
    letter-spacing: 1px;
}

.descriptionLists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 70px;
    
}
.descriptionList {
    font-size: 20px;
    color: var(--color1);
}

li {
    color: var(--color1);
    font-size: 15px;
    padding: 5px;
    list-style-type: none;
}

.titleList {
    list-style-type: none;
}

.invisible {
    visibility: hidden;
}

.sectionSituations {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 400px 50px 250px;
}

.situationFigure img {
    height: 600px;
    box-shadow: var(--boxShadow2);
}

.paragrapheSituation {
margin: 0;
}

/* ********************************************** CONFIRMATION RESERVATION ********************************************** */
.sectionLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlecenter {
    align-self: center;
}

.titlecenter:after {
    display: none;
}

.recap {
    background-color: var(--color4);
    width: 70%;
    margin: 70px auto;
    border-radius: 20px;
    padding: 40px;
    font-size: 22px;
    padding: 50px 200px;
}

.recapTop, .recapBottom {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.recapTop {
    margin-bottom: 30px;
}

.recapBottom {
    margin-top: 30px;
}
.recapLeft {
    margin-left: 30%;
    display: flex;
    flex-direction: column;
}
.recapTitle {
    margin: 0px !important;
    font-size: 27px;
    font-weight: var(--medium);
}

.line {
    width: 50%;
    border: 1px solid var(--color1);
    margin: auto;
}

.inline {
    display: inline;
}

.resaForm {
    margin: 70px auto;
    margin-top: 70px;
    background-color: var(--color4);
    width: 70%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-name {
    margin: 20px;
}

input {
    border-radius: 10px;
    border: 1px solid var(--color1);
    padding: 10px;
    width: 230px;
    margin: 0 10px;
}

input:focus, textarea:focus  {
    border: 2px solid var(--color3); 
    outline: none;     
    background-color: white;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

/* ********************************************** DÉTAILS D'UNE RÉSERVATION ********************************************** */

.showReservation {
    margin: 100px auto;
    padding: 50px;
    background-color: var(--color4);
    border-radius: 30px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.reservation-details {
    width: 100%;
}

.reservation-details-table {
    display: flex;
    align-items: center;
}

.actionButton {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
}

.actionButton a {
    text-decoration: none;
    text-align: center;
}

.download {
    width: 220px;
    padding: 8px;
    margin: 50px;
}



/* ********************************************** ADMIN : TABLEAU DES GÎTES ********************************************** */

.giteForm {
    display: flex;
    flex-direction: column;
    width: 80% !important;
}


.row-add {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row-add label {
    margin: 0 20px;
}

.row-center input {
    width: 100%;
    margin: 5px 0;

}

.inputDescription {
    width: 100%;
    height: 100px;
}

.tableGite {
    margin: auto;
}

th, td {
    padding: 20px;
    text-align: center;
}

.tdDescription {
    width: 400px;

}

/* ********************************************** ADMIN : DASHBOARD ********************************************** */

.containerDashboard{
    display: flex;
    height: 100%;
}

.slidebar {
    position: absolute;
    background-color: var(--color2);
    width: 350px;
    top: 180px;
    left: 0;
    bottom: 0;
    padding: 20px;
    z-index: 200;
    padding-top: 50px;
}

.linkAdmin{
    color: var(--color1);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 5px;
    transition-duration: 300ms;
    padding-left: 20px;
}

.titleAdmin {
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    padding-bottom: 30px;
}

.content {
    padding: 20px;
    width: calc(100% - 350px);
    min-height: 80vh;
    margin-bottom: 70px;
    margin-left: 350px;
}

.circleResa {
    background-color: var(--color2);
    width: 150px;
    height: 100px;
    float: inline-end;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: var(--boxShadow2);
    position: relative;
    z-index: 1000;
    margin-top: 20px;

}

.circleResa > p {
    text-transform: uppercase;
    color: white;
}

.linkAdmin:hover {
    opacity: 0.7;
}

.tableReservation {
    margin: 50px auto;
}



.custom-checkbox {
    position: relative;
    width: 80px;
    height: 35px;
    -webkit-appearance: none;
    appearance: none;
    background: var(--Red);
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
    transition: background 0.5s;
}

.custom-checkbox::before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.custom-checkbox:checked::before {
    transform: translateX(150%);
    background: #fff;
}

.custom-checkbox:checked {
    background: var(--Green);
}

.vue {
    background: var(--green);
    border: 2px solid var(--green);
}

.nonvue {
    background: var(--red);
    border: 2px solid var(--red);
}

.vue:checked {
    background: var(--red);
}

.nonvue:checked {
    background: var(--green);
}

.checkbox-label {
    font-size: 11px;
    display: block;
    margin: 0 10px; 
}

.td-checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-circle-info {
    color: var(--color6);
}

/* PERIODES */

.addPeriodForm {
    display: flex;
    padding: 50px;
    margin: auto;
    background-color: var(--color4);
    width: 60%;
    justify-content: center;
    border-radius: 30px;
}

.addPeriodForm div {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PHOTOS */
.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}
.card {
    height: 200px;
    width: 200px;
    background-color: var(--color4);
    box-shadow: var(--boxShadow1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.cardLink {
    text-decoration: none;
    font-size: 20px;
    color: var(--color1);
    margin-bottom: 15px;
}

.cardBtn {
    width: 30px;
    height: 30px;
    margin: 5px;
    z-index: 100;
}

.btnRight {
    display: flex;
    justify-content: flex-end;
    margin: 0 100px 100px 0;
}

.categoryBtnAdd {
    padding: 5px;
    width: 200px;
    margin: 10px;
}

.pictureInput {
    width: 300px;
}

#picture_description {
    height: 100px;
    width: 300px;
}

.pictureFormSubmit {
    display: flex;
    justify-content: center;
}

/*  ACTIVITÉS */

.textarea {
    height: 300px;
    width: 500px;
}

.table-activity-img img {
    height: 200px;
    width: 300px;
    object-fit: cover;
}

.btn-detail .fa-solid {
    color: white;

}
/* ********************************************** DASHBOARD AVIS ********************************************** */

.reviewTitle {
    font-size: 18px;
    text-align: center;
}

.reviewText {
    text-align: center;
}
.writeReview {
    width: 70%;
    height: 700px;
    margin: 100px auto!important;
}

#rating {
    display: inline-block;
}

.jq-ry-container {
    margin: 5px 0;
    padding: 0;
}

.comment-field label {
    display: block;
    margin-bottom: 10px;
}

.reviewLigne {
    width: 80%;
    margin: 20px;
}

#review_comment {
    padding: 10px;
    margin: 10px;
    overflow-y: scroll;
}

.reviewComment {
    width: 90%;
    display: inline-block;
    margin: 10px 0;
}
.reviewDate {
    font-style: italic;
}

.unverifiedReview {
    margin: 80px;
}

.cardReviews {
    background-color: var(--color4);
    border-radius: 20px;
    padding: 30px;
    margin: 50px 0;
}

.cardReviews .delete {
    line-height: 5px;
    margin: 10px;
}

.cardReviews p {
    padding: 10px;
}

.reviewName {
    font-weight: var(--black);
    font-size: 20px;
}

#reviewForm {
    padding: 10px;
}

#response {
    width: 100%;
    height: 80px;
    margin: 5px 0;
    padding: 10px;
}

.reviewResponse {
    font-weight: var(--bold);
}

/* ********************************************** PAGE CONTACT ********************************************** */

.section-contact {
    margin: 0px 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-contact .icon {
    margin: 50px;
}

.section-contact a {
    color: var(--color1);
}

.title-contact {
    font-size: 22px;
    margin-bottom: 50px;
}

/* ********************************************** MON PROFIL ********************************************** */

.contactForm {
    display: flex !important;
    flex-direction: column !important;
}

.contactForm * {
    padding: 10px;
}

#contact-message {
    width: 500px;
    height: 300px;
}

.section-profil {
    margin: 100px 0px 100px 0px;
    font-size: 20px;
    font-family: var(--police2);
    letter-spacing: 5px;
    text-transform: uppercase;
}

.section-profil a{
    color: var(--color6);
}


/* ********************************************** MON PROFIL ********************************************** */


.profilEmail {
    font-size: 25px;
    /* font-weight: var(--bold); */
    display: inline;
    padding-right: 20px;
}

.profilEmailAddress {
    display: inline;
}

.profilContaint {
    margin: 100px;
    text-align: center;
}

.profilResa {
    text-align: center;
    font-size: 23px;
}

.resaContaint {
    margin: 0px 0px 100px 0px;
}

.deleteAccount {
    width: 280px;
    height: 40px;
    display: block;
    margin: 50px auto;
}

.deleteAccount a {
    text-decoration: none;
    color: white;
}

.previousResa {
    width: 260px;
}

.btnprevious {
    margin: 0px 100px 0px 0px;
    justify-content: end;
}

/* ********************************************** VUE CONFIRMATION RESERVATION ********************************************** */

.messageConfirm {
    font-size: 25px;
    text-align: center;
    margin: 20px 0px;
}

.sectionMessage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 170px 0px 100px 0px;
}

/* ********************************************** FENETRE D'ALERTE ********************************************** */

 .swal2-styled {
    background-color: var(--color2) !important;
    border-color: var(--color1) !important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:focus {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5) !important;
}

/* ********************************************** FOOTER ********************************************** */

.footerTitle {
    color: white;
    font-size: 25px;
    font-family: var(--police2);
    font-weight: 200;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
}

footer a {
    text-decoration: none;
    color: white;
}

#map {
    display: none;
}

.footerContent {
    position: relative;
}

.footerTop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.footer-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color1);
    background-image: url('/img/fond.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.footer-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.footerBottom {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

.footerLogo {
    height: 150px;
}

.logoreseaux i {
    font-size: 23px;
}

.footerP {
    color: var(--color4);
    font-size: 18px;
    padding: 5px;
}

.footerLink {
    padding: 5px;
}

.hoverLink:hover {
    cursor: pointer;
    opacity: 0.7;
}

.footer-line {
    background-color: white;
    width: 80%;
    height: 1px;
   margin: 10px auto;
}

.fa-instagram, .fa-facebook {
    transition: 0.3s;
}

.fa-instagram:hover, .fa-facebook:hover {
    color: var(--color3);
    transform: scale(1.2);
}

.address, .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-link {
    display: flex;
    justify-content: space-around;
    color: white;
}

.footerLink {
    color: white;
    padding: 7px;
    display: inline;
    margin: 0;
}



/* ********************************************** MENTIONS LEGALES ********************************************** */

.section-mentions-legales {
    margin: 300px 200px 200px 200px;
}

.section-mentions-legales a {
   color: var(--color3);
}



/*
*
* RESPONSIVE DESIGN
*
*/

/* ********************************************** TABLETTE ********************************************** */

@media only screen and (max-width: 1024px) {
    /* Styles pour les écrans de tailles inférieure à 768px */

    .show-nav {
        z-index: 2000;
    }
     .burger {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        padding: 0;
        width: 45px;
        height: 45px;
        border: none;
        background-color: white;
        cursor: pointer;
        z-index: 2500;
    }
    .bar {
        display: block;
        width: 45px;
        height: 4px;
        background: var(--color1);
        border-radius: 3px;
        transition: all .3s ease-in-out;
    }
    .show-nav .bar {
        width: 0;
        background: transparent;
    }
    .show-nav .burger {
        background: transparent;
    }
    .bar::before,
    .bar::after {
        content: "";
        width: 45px;
        height: 4px;
        position: absolute;
        left: 0;
        background: var(--color1);
        border-radius: 3px;
        transition: all .5s ease-in-out;
    }
    .bar::before {
        transform: translateY(-12px);
    }
    .bar::after {
        transform: translateY(12px);
    }
    .show-nav .bar::before {
        transform: rotate(45deg);
    }
    .show-nav .bar::after {
        transform: rotate(-45deg);
    }
    .show-nav .nav-item {
        padding: 0px;
    }
    .nav-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 0;
        min-height: 50vh;
        position: absolute;
        right: 0;
        background:linear-gradient(to bottom, var(--color4), var(--color2));
        transition: all .5s ease-in-out;
        z-index: 2000;
        text-align: center;
        overflow: hidden;
    }
    .show-nav .nav-items {
        width: 100%;
    }       
    .nav-item {
        transform: translateX(101%);
    }
    .show-nav .nav-item {
        transform: translateX(0);
    }
    .nav-item>a {
        display: block;
        padding: 1rem;
        font-size: 1.5rem;
        transition: all .4s ease-in-out;
    }
    .nav-item>a:hover {
        padding-left: 2rem;
        letter-spacing: 5px;
    }
    .navLogo {
        height: 150px;
    }
    header {
        min-height: 100vh;
    }
    h1 strong {
        font-size: 80px !important;
    }
    .first-section-person {
        font-size: 22px;
    }
    #first-section {
        top: -530px;
    }
    #reservationForm {
        flex-wrap: wrap;
    }
    #search {
        width: 100%;
        padding: 300px 0px 0px 0px;
        height: 500px;
        top: -845px;
    }
    #first-section h2 {
        font-size: 22px;
    }
    .gite-content {
        padding: 20px;
    }
    .pageaccueil .gite-title {
        left: 20px;
        top: 150px;
    }
    .giteFigure {
        display: flex;
        justify-content: center;
    }
    .picture01 {
        width: 360px;
        margin-left: 70px
    }
    .gite-description {
        margin: 200px 0;
        width: 100%;
    }
    .feuille01 {
        top: 600px;
    }
    .banner-p {
        white-space: wrap;
        text-align: center;
    }
    #galerie {
        padding: 10px;
    }
    .caracteristique {
        margin: 30px;
    }
    .caracteristique-title {
        margin: 50px 0px 50px 30px;
    }
    .caracteristique-galery {
        width: 200%;
        margin-top: 50px;
    }
    .feuille02 {
        transform: rotate(45deg) translateY(60px);
        right: 15px;
    }
    .banner2-p {
        font-size: 20px;
    }
    .categories{
        flex-wrap: wrap;
        margin: 50px;
    }
    .galerie-contain .title {
        margin: 30px;
    }
    #actualites {
        padding: 100px;
    }
 
    .alentours-containt {
        flex-wrap: wrap;
    }
    #map-activity {
        width: 100%;
    }
     #map-carousel {
        width: 100% !important;
    } 
    #review {
        padding: 50px 20px;
    }
    .footerBottom {
        flex-wrap: wrap;
    }

    /* Page contact */
    .section-contact{
        margin: 0;
        width: 100%;
        justify-content: center;
    }
    .registerForm{
        width: 100%;
        
    }

    /* Page réservation */
    .confirm {
        position: relative;
        margin: 30px;
        right: auto;
    }
    .confirmReservation {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .description02{
        margin: 0;
    }
    .sectionSituations{
        margin: 0;
        margin-bottom: 30px;
    }
    h1 {
        font-size: 25px;
        text-align: center;
    }
    .recap{
        width: 100%;
        border-radius: 0px;
    }
    .resaForm{
        width: 100%;
    }
    #reservation_lastName{
        margin-bottom: 20px;
    }
    .resaContaint{
        margin: 0;
        width: 100%;
    }
    th, td {
        padding: 10px 0px;
    }
    .btnReview{
        font-size: 17px;
        width: 130px;
        height: 40px;
    }
    .showReservation{
        margin: 100px 0px;
        width: 100%;
        border-radius: 0px;
    }

    .tableGite {
        width: 100%;
    }

    .allReviews{
        margin: 0;
        grid-template-columns: repeat(1, 1fr);
    }




    

}

/* ********************************************** MOBILE ************************************************ */

@media only screen and (max-width: 768px) {
    /* Styles pour les écrans de tailles inférieure à 768px */
    #first-section {
        left: 0;
    }
    .banner2-p {
        white-space: normal;
    }
    h1 strong {
        font-size: 50px !important;
    }
    #first-section {
        top: -490px;
        width: 100%;
        transform: none;
    }
    .averageRating {
        left: 20px;
        top: -280px;
    }
    #search {
        border-radius:  20% 20% 0px 0px;
        padding: 165px 0px 0px 0px;
        top: -780px;
    }
    .background-image {
        display: none;
    }
    .description-and-picture {
        width: 100%;
    }
    .pageaccueil .gite-title {
        top: 40px;
    }
    .giteFigure {
        width: 100%;
        
    }
    .description-and-picture {
        flex-wrap: wrap;
    }
    .feuille01, .feuille02 {
        display: none;
    }
    .gite-description {
        margin: 120px 0px 50px 0px;
    }
    .picture01 {
        width: 250px;
        border-radius: 50%;
        margin-bottom: 50px;
        margin-left: 0px;
    }
    .icon {
        margin: 10px;
        width: 130px;
    }
    .caracteristique-left{
        width: 100%;
    }
    .caracteristique {
        padding: 20px;
        margin: 0;
    }
    .caracteristique-galery {
        width: 100%;
    }
    .banner2 {
        height: 600px;
    }
    .banner-p{
        font-size: 23px;
    }
    #actualites {
        padding: 20px;
    }
    .actualites-content{
        justify-content: center;
    }
    #alentours{
        padding: 20px;
    }
    .link-right{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .picture03, .picture05, .picture04{
        width: 100px;
    }
    #contact-message {
        width: 100%;
    }
    .base {
        height: 200px;
    }
    


    /* Détail réservation */

    .description01{
        margin: 0;
    }
    .confirm {
        width: 100%;
        border-radius: 0%;
        height: 340px;
    }
    .detail{
        margin: 40px;
    }
    .description01{
        flex-direction: column-reverse;
    }
    .reservation-title{
        font-size: 20px;
    }
    .descriptionLeft {
        margin-left: 15px;
    }
    .descriptionLists{
        margin: 0;
    }
    .situationFigure img{
        height: 300px;
    }
    .descriptionRight{
        margin-bottom: 30px;

    }

    td {
        font-size: 12px;
    }
    .tableGite {        
        overflow-x: scroll;
        
    }


}