{% extends 'base.html.twig' %}

{% block title %}Gîte à Orbey, Alsace | Confirmation de réservation{% endblock %}

{% block meta_description %} {{ description }} {% endblock %}


{% block body %}


<div class="title gite-title center">
        <h1>Réservation confirmée !</h1>
</div>

<section class="sectionMessage">

    <p class="messageConfirm">
        Merci pour votre réservation au Gîte du Rain du Pair. <br>
        Un mail avec les détails de votre réservation vous a été envoyé.<br>
        N'hésitez pas à nous contacter si vous avez encore des questions concernant votre séjour. 
        <br>À bientôt !</p>
            
</section>

{% endblock %}