<h1>Activez votre compte</h1>

<p>Bonjour!</p>

<p>Votre inscription sur le site du Gîte du Rain du Pair est à valider en cliquant sur le lien ci-dessous :</p>  

<p><a href="{{ absolute_url(path('verify_user', {'token': token})) }}">Par ici</a></p>
<p>Ce lien expirera dans 3 heures.</p>
    
    